In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("vsw_cls_to_JDTic_4.csv")
df

,Title,docking score,int_JDTic,count_residue_contact,charged_int,residues_polar_int,available,vendor,price
0,ZINC000215965418,-12.511,0,16,1,7,1,e_molecules,$137.00/5mg
1,ZINC000009915684,-9.595,1,17,1,7,1,mcule,$488.00/5mg
2,ZINC000095353605,-9.265,1,11,1,7,1,mcule,No
3,ZINC000004545896,-14.503,1,12,1,6,1,e_molecules,$137.00/50mg
4,ZINC000015721309,-11.477,1,13,1,6,1,e_molecules,$206.00/5mg
...,...,...,...,...,...,...,...,...,...
94,ZINC000067688343,-10.395,1,11,1,2,1,mcule,$51.00/1mg
95,ZINC000067727421,-11.078,1,11,1,2,1,mcule,$51.00/1mg
96,ZINC000195542619,-9.645,1,11,1,2,1,mcule,$96.00/1mg
97,ZINC000426396653,-9.486,1,9,1,2,1,mcule,$51.00/1mg
98,ZINC000077028219,-9.552,0,5,1,1,1,e_molecules,$2209.00/1g

In [4]:
df1 = df.sort_values(["residues_polar_int", "docking score"], ascending=[False, True])
df1

,Title,docking score,int_JDTic,count_residue_contact,charged_int,residues_polar_int,available,vendor,price
0,ZINC000215965418,-12.511,0,16,1,7,1,e_molecules,$137.00/5mg
1,ZINC000009915684,-9.595,1,17,1,7,1,mcule,$488.00/5mg
2,ZINC000095353605,-9.265,1,11,1,7,1,mcule,No
3,ZINC000004545896,-14.503,1,12,1,6,1,e_molecules,$137.00/50mg
4,ZINC000015721309,-11.477,1,13,1,6,1,e_molecules,$206.00/5mg
...,...,...,...,...,...,...,...,...,...
90,ZINC000663230169,-9.442,1,12,1,2,1,molport,$107.00/1mg
93,ZINC000065504341,-9.271,1,11,1,2,1,mcule,$51.00/1mg
91,ZINC000003439139,-9.204,1,12,1,2,1,mcule,$86.00/1mg
92,ZINC000057263116,-9.074,1,14,1,2,1,mcule,$106.00/1mg
98,ZINC000077028219,-9.552,0,5,1,1,1,e_molecules,$2209.00/1g

In [5]:
order_list = list(range(1,100))
order_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [6]:
df1["order"]=order_list
df1

,Title,docking score,int_JDTic,count_residue_contact,charged_int,residues_polar_int,available,vendor,price,order
0,ZINC000215965418,-12.511,0,16,1,7,1,e_molecules,$137.00/5mg,1
1,ZINC000009915684,-9.595,1,17,1,7,1,mcule,$488.00/5mg,2
2,ZINC000095353605,-9.265,1,11,1,7,1,mcule,No,3
3,ZINC000004545896,-14.503,1,12,1,6,1,e_molecules,$137.00/50mg,4
4,ZINC000015721309,-11.477,1,13,1,6,1,e_molecules,$206.00/5mg,5
...,...,...,...,...,...,...,...,...,...,...
90,ZINC000663230169,-9.442,1,12,1,2,1,molport,$107.00/1mg,95
93,ZINC000065504341,-9.271,1,11,1,2,1,mcule,$51.00/1mg,96
91,ZINC000003439139,-9.204,1,12,1,2,1,mcule,$86.00/1mg,97
92,ZINC000057263116,-9.074,1,14,1,2,1,mcule,$106.00/1mg,98
98,ZINC000077028219,-9.552,0,5,1,1,1,e_molecules,$2209.00/1g,99

In [8]:
df2 = df1[["Title", "order"]]
df2

               Title  order
0   ZINC000215965418      1
1   ZINC000009915684      2
2   ZINC000095353605      3
3   ZINC000004545896      4
4   ZINC000015721309      5
..               ...    ...
90  ZINC000663230169     95
93  ZINC000065504341     96
91  ZINC000003439139     97
92  ZINC000057263116     98
98  ZINC000077028219     99

[99 rows x 2 columns]

In [10]:
df2.to_csv("vsw_cls_to_JDTic_4_order.csv", index=False)